@use 'reset';
@use '../fonts/index.css';

:root {
	--color-bg: white;
	--color-border: #00000020;

	--color-text: rgb(11, 23, 57);
	--color-text-muted: rgba(11, 23, 57, 0.4);

	--color-accent: #3EB57C;
	--color-accent-muted: linear-gradient(135deg, rgba(174, 228, 178, 0.3) 0%, rgba(149, 208, 161, 0.3) 100%);
}

html {
	font-size: 16px;
	font-family: 'PT Root UI', 'PT Root UI VF', sans-serif;
	color: var(--color-text);
}

body {
	max-width: 1440px;
	padding: 96px 80px;
	margin: 0 auto;
}

h1 {
	font-size: 54px;
	line-height: 1;
	font-weight: 700;
}
