@use 'mixins' as *;

@use 'reset';
@use '../fonts/index.css';

:root {
	--color-bg: white;
	--color-border: #00000010;

	--color-text: rgb(11, 23, 57);
	--color-text-10: rgba(11, 23, 57, 0.1);
	--color-text-muted: rgba(11, 23, 57, 0.4);

	--color-accent: #3EB57C;
	--color-accent-muted: linear-gradient(135deg, rgba(174, 228, 178, 0.3) 0%, rgba(149, 208, 161, 0.3) 100%);

	--color-button-border: #0B173933;
}

html {
	font-family: 'PT Root UI', 'PT Root UI VF', sans-serif;
	color: var(--color-text);

	@include small {
		font-size: 14px;
	}

	@include large {
		font-size: 16px;
	}
}

body {
	margin: 0 auto;

	@include small {
		max-width: 960px;
		padding: 48px 54px;
	}

	@include large {
		max-width: 1440px;
		padding: 96px 80px;
	}
}

h1 {
	font-size: 54px;
	line-height: 1;
	font-weight: 700;
}
